*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem; /* Ajuste global para scroll automático */
}


body{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: #f7f5f1;
}

header{
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: auto;
}

main{
    padding: 6rem 2rem 0 2rem;
}

.text-justify{
    text-align: justify;
}

.container-fluid{
   max-width: 2000px;
}

/* ------------------------------------------------- NAVBAR --------------------------------------------------- */

.navbar{
    width: 100%;
    background-color: #0a1128;
    padding: 0.5rem 1rem;
    max-width: 1200px;
    z-index: 1;
    position: fixed;
}

.logo-navbar{
    width: 11rem;
}   

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.offcanvas.offcanvas-end {
    width: 50vw;
}

.offcanvas{
    background-color: rgba(10,17,40,0.5);
    backdrop-filter: blur(5px);
}

.offcanvas-title{
    color: white;
}

/*------------------------------------------------- SLIDER ---------------------------------------------------*/
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; /* Para que quede detrás del navbar y del contenido */
  overflow: hidden;
}
/*--- Asegura que el carrusel ocupe toda la altura del slider-container ---*/
.slider-container,
.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

/*--- Ajuste visual de las imágenes del slider ---*/
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.tarjetas-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas-servicios h1{
    width: 20rem;
    background-color: rgba(158,163,176,0.7);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.tarjeta-servicio{
    border-radius: 2px;
    background-color: rgba(158,163,176,0.7);
    color: #0a1128;
    backdrop-filter: blur(5px);
}

.tarjeta-servicio h6{ 
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
}

.tarjeta-servicio p{
    font-size: 0.7rem;
    text-align: justify;
}

.nuestros-servicios{
    position: relative;
    text-decoration: none;
    color:#0a1128;
    display: inline-block;
}

.nuestros-servicios::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0a1128; /* Azul muy oscuro */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nuestros-servicios:hover::after{
    transform: scaleX(1);
}


/* Página nosotros */
.lema{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: #0a1128;
}

/*------------------------------------------------- Página Líneas ---------------------------------------------------*/

#gas-y-fuego{
    scroll-margin-top: 10rem;
}

.servicio{
    width: 100;
    padding: 0;
    margin: 0;
}
.carousel-inner{
    z-index: 0;
}
.servicio h2{
    text-align: center;
    margin-bottom: 1rem;
}

.experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.list-group-item{
    background-color: #f7f5f1;
    border-color: #0a1128;
}

.separador-formal {
    border: none;
    height: 3px;
    background-color: #9ea3b0; /* Azul muy oscuro */
    margin: 3rem 0;
    border-radius: 2px;
    opacity: 0.95; /* Un poco más sólida */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);  */
}



footer{
    background-color: #0a1128;
    margin-top: auto;
    color: #FDFFFF;
}

@media (min-width: 768px) {

    html{
        font-size: 24px;
    }

    .logo-navbar{
        width: 9rem;
        margin-left: 1rem;
    }

    .navbar{
        width: 85%;
        margin: 1rem 0.7rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }

    .info-section{
        width: 80%;
        max-width: 1200px;
    }

    .carousel{
        padding: 0;
        margin: 0;
    }

    .tarjeta-servicio h6{
        font-size: medium;
    }

    .tarjeta-servicio p{
        font-size: small;
    }

}

@media (min-width: 2560px) {
    main{
        margin: auto;
    }
}